.welcome-img {
  object-fit: cover;
  content: url(../../../../assets/images/welcome-img.jpg);
  width: 100%;
  height: 30vh;
}

.centered-text-image {
  margin-top: -90px;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 700;
  transition: 0.5s; /* Animation */
  margin-left: 500px;
  width: 1000px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .welcome-img {
    height: 300px;
  }

  .centered-text-image {
    margin-left: 360px;
  }
}

@media screen and (max-width: 900px) {
  .welcome-img {
    height: 250px;
  }

  .centered-text-image {
    font-size: 55px;
    transform: translate(-57%, -40%);
  }
}

@media screen and (max-width: 500px) {
  .welcome-img {
    height: 0;
  }
}
