# Admin devs will be put on all pull request
*                         @hydroponics-system/admin-dev 

# UI dev will own html, ts, and scss files.
/src/ @hydroponics-system/ui-dev

# Require devops approval for any files dealing with the github actions or properties files.
.* LICENSE     @hydroponics-system/devops-dev
CODEOWNERS     @hydroponics-system/devops-dev
