.page-number {
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 25px;
  border-radius: 10px;
  margin: 0 2px 5px 2px;
  cursor: pointer;
}

.page-number:hover {
  background-color: #e8e8e8;
}

.active {
  background-color: #81befa;
  pointer-events: none;
}

.left-arrow {
  content: url(../../../assets/images/icons/left-arrow-icon-page.png);
  transition: transform 0.2s;
  cursor: pointer;
  width: 30px;
  margin: 2px 5px 0 5px;
}

.left-arrow:hover {
  transform: scale(1.2);
}

.right-arrow {
  content: url(../../../assets/images/icons/right-arrow-icon-page.png);
  transition: transform 0.2s;
  cursor: pointer;
  width: 30px;
  margin: 2px 5px 0 5px;
}

.right-arrow:hover {
  transform: scale(1.1);
}

.grid-footer {
  margin-top: 10px;
}

@media screen and (max-width: 570px) {
  .page-number {
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin: 3px 2px 5px;
  }

  .left-arrow {
    width: 25px;
    margin: 5px 5px 0 5px;
  }

  .right-arrow {
    width: 25px;
    margin: 5px 5px 0 5px;
  }
}
