.ik-banner {
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.info {
    background-color: #417cf2;
  }

  &.danger {
    background-color: #e32323;
  }

  &.warning {
    background-color: #ffd200;
  }
}

.banner-content {
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.banner-icon {
  float: left;
  margin-right: 10px;
}
