<ik-card
  [padding]="false"
  class="leftColumn column-narrow"
  *ngIf="currentUser; else loader"
>
  <ik-card-header title="Details"></ik-card-header>
  <div class="flex">
    <div class="left-column">
      <ik-card-info
        header="First Name"
        [text]="currentUser.firstName"
      ></ik-card-info>
      <ik-card-info header="Role" [text]="currentUser.webRole"></ik-card-info>
    </div>
    <div class="right-column">
      <ik-card-info
        header="Last Name"
        [text]="currentUser.lastName"
      ></ik-card-info>
      <ik-card-info
        header="App Access"
        text="GRANTED"
        contentColor="APPROVED"
      ></ik-card-info>
    </div>
  </div>
</ik-card>

<ng-template #loader>
  <ik-loading></ik-loading>
</ng-template>
