.search {
  border-radius: 10px;
  background: #e9e7e7;
  padding: 15px;
  font-size: 20px;
  width: 100%;
}

input {
  border-style: hidden;
}

@media screen and (max-width: 570px) {
  .search {
    font-size: 15px;
  }
}
