.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  font-size: 1.4rem;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
  user-select: none;
  font-weight: 600;
  margin: 15px 0;

  &,
  &:active,
  &.active {
    &:focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }
}

.btn-full {
  width: 100%;
}

.btn-size {
  padding: 6px 10px;
  font-size: 1.4rem;
}

.btn-modal {
  font-size: 1rem;
}

.btn-right {
  float: right;
  margin: 9px 5px 8px 5px;
}

.btn-left {
  float: left;
  margin: 9px 5px 8px 5px;
}

@mixin btn-variant(
  $border,
  $from,
  $to,
  $gloss,
  $color,
  $hover-from,
  $active-border
) {
  color: $color;
  border-color: $border;
  background: linear-gradient(to bottom, $from 0%, $to 100%);
  box-shadow: inset 0 1px $gloss, 0 1px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    border-color: $to;
    background: linear-gradient(to bottom, $hover-from 0%, $from 100%);
    box-shadow: inset 0 1px $color, 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  &:active,
  &.active {
    border-color: $active-border;
    color: $gloss;
    background: linear-gradient(to bottom, $to 0%, $border 100%);
    box-shadow: inset 0 2px 2px $active-border;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    color: white;
    background: $hover-from;
    border-color: $from;
  }
}

@mixin btn-flat($active, $hover, $normal, $active-color, $color, $disabled) {
  color: $color;
  border-color: transparent;
  background: $normal;
  box-shadow: none;

  &:hover {
    border-color: transparent;
    color: #fff;
    background: $hover;
    box-shadow: none;
  }

  &:active,
  &.active {
    border-color: $active;
    color: $active-color;
    background: $active;
    box-shadow: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background: $disabled;
    border-color: $disabled;
  }
}

@mixin btn-round(
  $active,
  $hover,
  $normal,
  $active-color,
  $color,
  $disabled,
  $border
) {
  border-radius: 30px;
  color: $color;
  border-color: $border;
  background: $normal;
  box-shadow: none;
  transition: all 0.5s ease;

  &:hover {
    border-color: transparent;
    color: #fff;
    background: $hover;
    box-shadow: none;
  }

  &:active,
  &.active {
    border-color: $active;
    color: $active-color;
    background: $active;
    box-shadow: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    background: $disabled;
    border-color: $disabled;
  }
}

.btn-default {
  @include btn-variant(
    #546e7a,
    #90a4ae,
    #78909c,
    #cfd8dc,
    #eceff1,
    #b0bec5,
    #455a64
  );

  &.btn-flat {
    @include btn-flat(#546e7a, #90a4ae, #78909c, #cfd8dc, #eceff1, #b0bec5);
  }
}

.btn-primary {
  @include btn-variant(
    #1e88e5,
    #64b5f6,
    #42a5f5,
    #bbdefb,
    #e3f2fd,
    #90caf9,
    #1976d2
  );

  &.btn-flat {
    @include btn-flat(#1e88e5, #64b5f6, #42a5f5, #bbdefb, #e3f2fd, #90caf9);
  }

  &.btn-round {
    @include btn-round(
      #1e88e5,
      #64b5f6,
      #42a5f5,
      #bbdefb,
      #e3f2fd,
      #90caf9,
      transparent
    );

    &__swap {
      @include btn-round(
        #ffffff,
        #1e88e5,
        #ffffff,
        #ffffff,
        #1e88e5,
        #c9e4fd,
        #1e88e5
      );
    }
  }
}

.btn-success {
  @include btn-variant(
    #43a047,
    #81c784,
    #66bb6a,
    #c8e6c9,
    #e8f5e9,
    #a5d6a7,
    #388e3c
  );

  &.btn-flat {
    @include btn-flat(#43a047, #81c784, #66bb6a, #c8e6c9, #e8f5e9, #a5d6a7);
  }
}

.btn-info {
  @include btn-variant(
    #00acc1,
    #4dd0e1,
    #26c6da,
    #b2ebf2,
    #e0f7fa,
    #80deea,
    #0097a7
  );

  &.btn-flat {
    @include btn-flat(#00acc1, #4dd0e1, #26c6da, #b2ebf2, #e0f7fa, #80deea);
  }
}

.btn-warning {
  @include btn-variant(
    #fb8c00,
    #ffb74d,
    #ffa726,
    #ffe0b2,
    #fff3e0,
    #ffcc80,
    #f57c00
  );

  &.btn-flat {
    @include btn-flat(#fb8c00, #ffb74d, #ffa726, #ffe0b2, #fff3e0, #ffcc80);
  }
}

.btn-danger {
  @include btn-variant(
    #f4511e,
    #ff8a65,
    #ff7043,
    #ffccbc,
    #fbe9e7,
    #ffab91,
    #e64a19
  );

  &.btn-flat {
    @include btn-flat(#f4511e, #ff8a65, #ff7043, #ffccbc, #fbe9e7, #ffab91);
  }
}

@media screen and (max-width: 500px) {
  .btn-size {
    padding: 4px 8px;
    font-size: 1.1rem;
  }
}
