<div class="sidenav" id="sideBarNav" #sidebarNav>
  <a href="#home">
    <fa-icon class="nav-icon" [icon]="homeIcon"></fa-icon>
    <span class="nav-category">Home</span>
  </a>
  <a href="#users">
    <fa-icon class="nav-icon" [icon]="usersIcon"></fa-icon>
    <span class="nav-category">Users</span>
  </a>
  <a href="#services">
    <fa-icon class="nav-icon" [icon]="serviceIcon"></fa-icon>
    <span class="nav-category">Services</span>
  </a>
  <a href="#systems">
    <fa-icon class="nav-icon" [icon]="systemIcon"></fa-icon>
    <span class="nav-category">Systems</span>
  </a>
  <a href="#about">
    <fa-icon class="nav-icon" [icon]="aboutIcon"></fa-icon>
    <span class="nav-category">About</span>
  </a>
  <a href="#repo">
    <fa-icon class="nav-icon" [icon]="gitIcon"></fa-icon>
    <span class="nav-category">Repositories</span>
  </a>
  <a href="#contact">
    <fa-icon class="nav-icon" [icon]="contactIcon"></fa-icon>
    <span class="nav-category">Contact</span>
  </a>
  <a href="#settings">
    <fa-icon class="nav-icon" [icon]="settingsIcon"></fa-icon>
    <span class="nav-category">Settings</span>
  </a>
</div>
