.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 80px;
  bottom: 100px;
  left: 0;
  background-color: #222B45;
  box-shadow: 0 0.5rem 1rem 0 #1a1f33;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.sidenav a {
  padding: 1.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: all .3s ease-out;
  border-bottom: 1px solid #151a30;
  line-height: 1.5rem;
  color: white;
  display: flex;
}

.sidenav a:hover {
  color:#3366FF
}

.nav-icon {
  margin: 0 1rem 0 0;
  font-size: 16px;
}

.nav-category  {
  font-size: 20px;
}

@media screen and (max-height: 680px) {
  .sidenav a {
    padding: 1rem 1rem;
  }

  .nav-icon {
    margin: 0 1rem 0 0;
    font-size: 14px;
  }
  
  .nav-category  {
    font-size: 18px;
  }
}

@media screen and (max-width: 555px) {
  .sidenav {
    top: 80px;
  }
}

@media screen and (max-width: 440px) {
  .sidenav { 
    top: 70px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 365px) {
  .sidenav {
    top: 60px;
  }
}