.edit-icon {
  content: url(../../assets/images/icons/edit-icon.png);
  width: 25px;
  height: 25px;
  margin: 5px;
  float: right;
  cursor: pointer;
}

.plus-icon {
  content: url(../../assets/images/icons/plus-icon.png);
  width: 25px;
  height: 25px;
  margin: 5px;
  float: right;
  cursor: pointer;
}

.warning-icon {
  content: url(../../assets/images/icons/warning-icon.png);
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
}

.close-icon {
  content: url(../../assets/images/icons/close-icon.png);
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
}

.notification-icon {
  content: url(../../assets/images/nav-icons/notification-bell.png);
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
}
