.global_container {
  object-fit: cover;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px; /* Footer height */

  &__background {
    @extend .global_container;
    background: url(../../projects/insite-kit/src/assets/images/global-app-background.jpg)
      no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
