footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 0 250px;
  background-color: #7a8186;
}

.copyright {
  color: #c0c5cb;
  font-size: 16px;
  padding: 10px 0;
}

.content-link {
  cursor: pointer;
  padding: 10px 0;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  footer {
    padding: 0 150px;
  }
}

@media screen and (max-width: 650px) {
  footer {
    padding: 0 100px;
  }
}

@media screen and (max-width: 520px) {
  footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: 425px) {
  footer {
    padding: 0 5px;
  }

  .copyright {
    font-size: 14px;
  }

  .content-link {
    font-size: 16px;
  }
}
