.header {
  display: inline-block;
  height: auto;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    0deg,
    rgba(232, 232, 232, 1) 0%,
    rgba(238, 239, 240, 1) 100%
  );
  padding: 10px 15px;
  border-bottom: 0.5px solid rgba(222, 222, 222, 1);
  box-shadow: 0 1px 0 rgb(182, 182, 182);
}

.header .title {
  font-size: 25px;
  font-weight: 700;
  font-family: Verdana;
  display: inline-block;
}
