.label-header {
  font-size: 16px;
  text-align: left;
}

.type-input-margin-top {
  margin-top: 0.25rem;
}

.textarea-margin {
  resize: none;
  margin-top: 0.25em;
}

.noClick {
  pointer-events: none;
}
