.background {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  background: url(../../../projects/insite-kit/src/assets/images/login-screen-background.jpg)
    no-repeat;
  background-size: cover;
  text-align: center;
  position: absolute;
  overflow-x: hidden;
}

.home-container {
  width: 35%;
  margin: 15em auto;
  padding: 10px;
  background-color: transparent;
}